$darkBlue: #5d9b9b;
$green: #2f4f4f;
$brown: #B3704B;
$lightBlue: #8ae8e8;
$offWhite: #fbfbf8;
$white: #ffffff;
$gray: #808080;


/* Color Theme Swatches in Hex */
$fuscha: #F2508B;
$Screenshot-2019-11-01-at-12-2-hex: #03A62C;
$Screenshot-2019-11-01-at-12-3-hex: #9FD966;
$Screenshot-2019-11-01-at-12-4-hex: #252620;
$Screenshot-2019-11-01-at-12-5-hex: #F2C84B;
