$white: #ffffff; // Background
$pink: #F2508B; // Text color on hover
$neonGreen: #03A62C; // Text color
$lightNeonGreen: #9FD966; // Link color on hover
$black: #252620; // Card background 
$gold: #F2C84B; // Car background on hover
