html,
body {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  padding: 10px;
  color: #2f4f4f;
  background-color: #5D9B9B;
  min-width: 320px;
  max-width: 1440px;
}

section {
  margin-bottom: 20px;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
}

.profile,
.repos {
  min-width: inherit;
  width: 100%;
}

.card {
  max-width: 276px;
  min-height: 150px;
  border: #5E6868 solid 2px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  position: relative;
  background-color: #8AE8E8;
  transition: 0.5s ease-in-out;
}

/* .card:hover {
box-shadow: 10px 10px #8B9B9B;
} */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /* background-blend-mode: darken; */
}
.overlay:hover {
  opacity: 1;
}

.card-profile, 
.card-repos {
  margin: 10px auto;
  border: rgb(53, 78, 78) solid 2px;
  border-radius: 10px;
}
/* .profile, .repos { */

/* position: relative; */

/* display: flex; */

/* flex-direction: row; */

/* justify-content: center; */

/* align-items: center; */

/* margin: 0 auto; */

/* width: 100%; */

/* } */
