.layout {
	position: relative;
		display: flex;
		flex: auto;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.625em 0 0.625em 0;
	.card--repos {
		padding: 0.3125em;
		margin: 1.25em 0;
		width: 18.75em;
		height: 18.75em;
		max-width: 100%;
	}
}

@media all and (min-width: 37.5em) and (max-width: 80) {
	.layout {
		align-items: stretch;
	}
}
