@import "../../styles/colors";

.layout {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.625em auto;
  max-width: 80em;
  .card__repos {
    padding: 0.3125em;
    margin: 1.25em 0;
    width: 18.75em;
    height: 18.75em;
    max-width: 100%;
    max-height: 100%;
  }
  .card__languages,
  .card__primaryLanguage {
    padding: inherit;
    margin: inherit;
  }
  .card__primaryLanguage {
    display: none;
  }
}